
/**
  HIDE COPYEDITING AND PRODUCTION TABS
 */
#stageTabs li.stageId4.ui-tab {
	display: none;
}

#stageTabs li.stageId5.ui-tab {
	display: none;
}

/**
  PUBLICATION
  HIDE TABS
 */
div.pkpPublication .pkpTabs__buttons #contributors-button {
	display: none;
}

div.pkpPublication .pkpTabs__buttons #metadata-button {
	display: none;
}

div.pkpPublication .pkpTabs__buttons #galleys-button {
	display: none;
}

div.pkpPublication .pkpTabs__buttons #license-button {
	display: none;
}

div.pkpPublication .pkpTabs__buttons #issue-button {
	display: none;
}

/**
  WORKFLOW - SUBMISSION
  HIDE ACCEPT AND SKIP REVIEW BUTTON - NOT REQUIRED BY PPR
 */
#submissionWorkflow #editorialActions a.pkp_linkaction_accept {
	display: none;
}

/**
  WORKFLOW - REVIEW
  HIDE ACCEPT REVIEW BUTTON - NOT REQUIRED BY PPR
 */
#reviewTabs #editorialActions a.pkp_linkaction_accept {
	display: none;
}

/**
 MAKE REQUEST REVISIONS MORE PROMINENT
 TWO SELECTORS FOR OJS VERSIONS 3.3 and 3.4
 */
#reviewTabs #editorialActions a.pkp_linkaction_requestRevisions {
	background: #006798;
	border-color: #006798;
	box-shadow: 0 1px 0 #006798;
	color: #fff;
}

#reviewTabs #editorialActions a.pkp_linkaction_requestRevisions:hover {
	background: #008acb;
	border-color: #006798;
	outline: 0;
}

/**
  SUGGESTED REVIEWERS
 */
#pprSuggestedReviewers {
	padding: 2rem 2rem 0 2rem;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #fff;
}

/**
  CONTRIBUTORS
 */
#pprContributorsContainer {
	padding: 2rem;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #fff;
}

/**
  COMMENTS FOR REVIEWER
 */
#pprCommentsForReviewer {
	padding: 2rem 2rem 0 2rem;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #fff;
}

/**
  REGISTRATION FORM
 */
form#register.cmp_form input, form#register.cmp_form select {
	max-width: 30em;
}

/**
 CUSTOMIZATIONS IMPLEMENTED BY PKP
 
 Removes user homepage/orcid id/include in browse list from contributor settings
 Added by EH on 2023-03-07
*/

#userFormExtendedLeft input[id^="userUrl"],
#userFormExtendedLeft label[for^="userUrl"],
#userFormExtendedLeft input[id^="orcid"],
#userFormExtendedLeft label[for^="orcid"]
{
	display: none;
}

fieldset#submissionSpecific ul.checkbox_and_radiobutton > li:last-child {
	display: none;
}
