
/**
  HIDE COPYEDITING AND PRODUCTION TABS
 */
#stageTabs li.stageId4.ui-tab {
	display: none;
}

#stageTabs li.stageId5.ui-tab {
	display: none;
}

/**
  PUBLICATION
  HIDE TABS
 */
div.pkpPublication .pkpTabs__buttons #contributors-button {
	display: none;
}

div.pkpPublication .pkpTabs__buttons #metadata-button {
	display: none;
}

div.pkpPublication .pkpTabs__buttons #galleys-button {
	display: none;
}

div.pkpPublication .pkpTabs__buttons #license-button {
	display: none;
}

div.pkpPublication .pkpTabs__buttons #issue-button {
	display: none;
}

/**
  PUBLICATION
  HIDE ACTION BUTTONS
 */
div.pkpPublication__header div.pkpHeader__actions{
	display: none;
}

/**
  SUBMISSION
 */
#ppr_confirmation_submissionChecklist {
	font-size: .875rem;
	line-height: 1.5rem;
}

/**
  WORKFLOW - SUBMISSION
  HIDE ACCEPT AND SKIP REVIEW BUTTON - NOT REQUIRED BY PPR
 */
#submissionWorkflow #editorialActions a.pkp_linkaction_accept {
	display: none;
}

/**
  WORKFLOW - REVIEW
  HIDE ACCEPT REVIEW BUTTON - NOT REQUIRED BY PPR
 */
#reviewTabs #editorialActions a.pkp_linkaction_accept {
	display: none;
}

/**
 MAKE REQUEST REVISIONS MORE PROMINENT
 TWO SELECTORS FOR OJS VERSIONS 3.3 and 3.4
 */
#reviewTabs #editorialActions a.pkp_linkaction_requestRevisions {
	background: #006798;
	border-color: #006798;
	box-shadow: 0 1px 0 #006798;
	color: #fff;
}

#reviewTabs #editorialActions a.pkp_linkaction_requestRevisions:hover {
	background: #008acb;
	border-color: #006798;
	outline: 0;
}

/**
  SUGGESTED REVIEWERS
 */
#pprSuggestedReviewers {
	padding: 2rem 2rem 0 2rem;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #fff;
}

/**
  CONTRIBUTORS
 */
#pprContributorsContainer {
	padding: 2rem;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #fff;
}

/**
  COMMENTS FOR REVIEWER
 */
#pprCommentsForReviewer {
	padding: 2rem 2rem 0 2rem;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #fff;
}

/**
  RESEARCH TYPE
 */
#pprResearchType {
	padding: 2rem 2rem 0 2rem;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #fff;
}

div span.pprTitle {
	font-weight: 700;
	margin-right: 0.2rem;
}

div span.pprValue {
}

/**
  SETTINGS FORM
 */
form#pprPluginSettingsForm div.subsection {
	padding-top: 1em;
}

/**
  MODAL OVERLAY
 */
.fullPageModalOverlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10000;
	cursor: pointer;
}

.fullPageModalOverlay .modalContainer {
	display: block;
	border-radius: 5px;
	background-color: #fff;
	padding: 1rem;
	max-width: 600px;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	cursor: auto;
}

.fullPageModalOverlay .modalContent {
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	border-radius: 2px;
}

.fullPageModalOverlay .modalButtons {
	text-align: right;
}

.fullPageModalOverlay .modalButtons .modalButtonCancel{
	color: #d00a6c;
}

.fullPageModalOverlay .modalButtons .modalButtonCancel:hover{
	color: #d00a6c;
	border-color: #d00a6c;;
}

.fullPageModalOverlay .modalHeader {
	min-height: 3rem;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	font-weight: 700;
	line-height: 3rem;
	padding: 0 3rem 0 1rem;
}

.fullPageModalOverlay .modalDescription {
	padding: 1rem;
	margin-bottom: 1rem;
	font-size: .875rem;
	line-height: 1.5rem;
	border-top: 1px solid #eee;
}

/**
  ON LEAVE BADGE
 */
.pprBadge--onLeave {
	border-color: #f6cee2;
	background-color: #f6cee2;
}

/**
 SURVEY
 */
.ppr-survey {
	padding: 1rem;
	margin-bottom: 1rem;
	border: 1px solid #eee;
}

.ppr-survey iframe {
	border: none;
}

/**
 CUSTOMIZATIONS IMPLEMENTED BY PKP
 
 Removes user homepage/orcid id/include in browse list from contributor settings
 Added by EH on 2023-03-07
*/

#userFormExtendedLeft input[id^="userUrl"],
#userFormExtendedLeft label[for^="userUrl"],
#userFormExtendedLeft input[id^="orcid"],
#userFormExtendedLeft label[for^="orcid"]
{
	display: none;
}

fieldset#submissionSpecific ul.checkbox_and_radiobutton > li:last-child {
	display: none;
}
